%flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%btn-global {
    background-color: #190083;
    padding: 13px 26px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
}

%titles {
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    text-align: center;
}

%subtitles {
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}

.career {
    padding: 120px;
    width: 100%;
    min-height: 80vh;
    background-color: #F3E02B;
    @extend %flex-column;
    justify-content: space-between;
}

.career__title {
    max-width: 442px;
    @extend %titles;
}

.career__subtitle {
    @extend %subtitles;
    max-width: 650px;
    text-align: center;
}

.career__btn {
    @extend %btn-global;
    margin-top: 40px;
}